<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">
        <img src="../../assets/logo/Dartshub.png" alt="Logo Dartshub" width="160" height="50">
      </a>
    </div>

    <ul class="nav justify-content-end">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="" style="color: #FFFFFF" class="nav-link text-decoration-none">Home</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/some-test" style="color: #FFFFFF" class="nav-link text-decoration-none">Some Test</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/score" style="color: #FFFFFF" class="nav-link text-decoration-none">New leg</a>
      </li>
      <li class="nav-item nav-pills">
        <a routerLink="/auth" style="color: #FFFFFF" class="nav-link active" *ngIf="isAuthenticated" (click)="onSignOut()">Sign Out</a>
      </li>
      <li class="nav-item nav-pills">
        <a routerLink="/auth" style="color: #FFFFFF" class="nav-link active" *ngIf="!isAuthenticated">Sign In</a>
      </li>
    </ul>
  </div>
</nav>
